*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  }

.debug{
  background-color: pink;
  border: solid 1px black;
}

.flex{
  display: flex;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
}

.main{
  width: 100%;
  height: calc(100vh - 90px);
}

.play-bar{
  width: 100%;
  height: 90px;
  background-color: #282828;
}

.side{
  position: relative;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: black;
  color: #6b6b6b;
}

.strech-side{
  display: none;
  flex-direction: column;
  height: 100%;
  width: 50px;
  background-color: black;
  color: #6b6b6b;

}

.top-side{
  height: calc(100% - 60px);
}

.logo{
  height: 80px;
}

.playlist{
  height: calc(100% - 150px);
  overflow-y: auto;
}

.bottom-side{
  position: absolute;
  bottom: 0;
  flex-direction: column;
  height: 60px;
}

.main-content{
  width: calc(100% - 200px);
  overflow-y: scroll;
  background-color: #141922;
}

/* Top bar */

.bar-fixed{
  position: fixed;
  z-index: 10;
  top: 0;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  opacity: 0.3;
  width: calc(100% - 200px);
  height: 80px;
  padding-right: 15px;
}

.btn-upgrade{
  border: solid 1px white;
  border-radius: 50px;
  padding: 10px 20px;
}

/* main-content */
.menu{
  margin-top: 100px;
  width: 100%;
}

.menu ul{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  color: #6b6b6b;
  text-transform: uppercase;
  font-size: 0.6rem;
}

.menu ul li{
  padding: 10px 15px;
}

h2{
  color: white;
  margin-left: 10px;
  margin-top: 40px;
}

.container-box{
  margin-top: 10px;
  flex-wrap: wrap;
}

.box{
  width: calc(100% / 6);
  max-width: 150px;
  min-width: 120px;
  aspect-ratio: 1/1;
  margin: 10px 10px;
}

.box img{
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.circle img{
  border-radius: 50%;
}

.text-box{
  text-align: center;
}

.text-box p{
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 8px;
}

.subtitle{
  color: #6b6b6b;
  font-size: 0.6rem;
}

.personal .subtitle,
.popular .subtitle{
  margin-left: 10px;
}

.personal p,
.popular p{
  text-align: center;
  margin-top: 10px;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}


/* Play-bar */

.left, .right{
  height: 100%;
  width: 25%;
}

.center{
  height: 100%;
  width: 50%;
}

@media screen and (max-width: 800px){

  .box{
    width: calc(100% / 4);
    min-width: 100px;
    aspect-ratio: 1/1;
    margin: 15px;
  }
  
}

@media screen and (max-width: 600px){
  .box{
    width: calc(100% / 2);
    min-width: 200px;
    aspect-ratio: 1/1;
    margin: 15px;
  }

  .main-content{
    width: calc(100% - 50px);
  }

  .strech-side{
    display: block;
  }

  .side{
    display: none;
  }
}